$blue-color: rgba(30, 67, 118, 0.83);
$font-default-colot: rgba(100, 100, 100, 0.9);

@font-face {
    font-family: Avenir Next Regular;
    src: url('../static/font/AvenirNext-Regular-08.ttf');
}

body {
    margin: 0;
    padding: 0;
    font-family: Avenir Next Regular;
    color: $font-default-colot;
}
