@import './App.scss';

.sectionFootMobile {
    width: 100%;
    background-color: $blue-color;
    color: white;
    padding-top: 30px;
    padding-bottom: 10px;

    .contact {
        width: 760px;
        margin-left: auto;
        margin-right: auto;

        .contact_us {
            width: 270px;
            display: inline-block;
            vertical-align: top;

            p {
                display: block;
                text-align: center;
            }
        }

        .contact_cn {
            width: 440px;
            display: inline-block;
            vertical-align: top;

            p {
                display: block;
                text-align: center;
            }
        }

        .contact_media {
            width: 50px;
            display: inline-block;
            vertical-align: top;
            margin-top: 10px;

            img {
                height: 25px;
                width: 25px;
                margin-top: 8px;
                margin-bottom: 8px;
                margin-right: auto;
                margin-left: auto;
                display: block;
            }
        }
    }

    .declare {
        width: 760px;
        margin-left: auto;
        margin-right: auto;

        p {
            font-size: 8px;
            margin-left: 50px;
        }
    }
}