@import './App.scss';

.sectionFoot {
    width: 100%;
    background-color: $blue-color;

    .sectionFootInfo {
        color: white;
        padding-top: 30px;
        padding-bottom: 10px;
        display: inline-block;

        .contact {
            width: 400px;
            margin-left: 100px;
    
            p {
                font-family: Arial, Helvetica, sans-serif;
                font-weight: bold;
                margin: 0;
                font-size: 14px;
            }
        }
    
        .media {
            width: 400px;
            height: 25px;
            margin-left: 100px;
            margin-top: 30px;
    
            img.media-icon {
                width: 20px;
                height: 20px;
            }
    
            .wechat {
                display: inline-block;
                vertical-align: top;
                position: relative;
    
                img.media-icon {
                    width: 25px;
                    height: 25px;
                }
    
                div.hidden {
                    position: absolute;
                    display: none;
                    top: -200px;
    
                    img {
                        height: 200px;
                        width: 200px;
                    }
                }
    
                &:hover div.hidden {
                    display: block;
                }
            }
    
            .linkedin {
                display: inline-block;
                vertical-align: top;
            }
        }
    
        .declare {
            width: 400px;
            margin-left: 100px;
    
            a {
                color: white;
                // text-decoration: none;
    
                &:hover {
                    color: white;
                    // text-decoration: none;
                }
    
                &:visited {
                    color: white;
                    // text-decoration: none;
                }
            }
    
            p {
                font-size: 12px;
                margin: 0;
            }
        }
    }

    .sectionFootLogo {
        float: right;
        display: inline-block;
        vertical-align: top;
        margin-top: 100px;
        margin-right: 30px;

        img {
            width: 200px;
        }
    }
}