.headPageFrame {
    // width: 100vw;
    min-width: 760px;
    // max-width: 1980px;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

.sectionFly {
    width: 100%;

    .sectionFlyBody {
        width: 100%;
        
        .sectionFlyBodyText {
            display: inline-block;
            vertical-align: bottom;
            margin-left: 70px;
            width: calc(60% - 70px);

            h3 {
                font-size: 22px;
                display: block;
                width: 70%;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 30px;
                text-align: center;
                line-height: 40px;
            }

            p {
                font-size: 14px;
                display: block;
                width: 80%;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 100px;
                text-align: center;
                line-height: 30px;
            }
        }

        img.profile {
            display: inline-block;
            vertical-align: bottom;
            width: 40%;
        }
    }
}

.title {
    width: calc(70% - 10px);
    margin-right: auto;
    margin-left: auto;

    span {
        display: inline-block;
        vertical-align: middle;
        border-top: 1px solid #747474;
    }

    h3 {
        display: inline-block;
        vertical-align: middle;
        margin-right: 50px;
        margin-left: 50px;
        margin-bottom: 20px;
    }
}

.description {
    width: calc(70% - 10px);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 25px;

    p {
        margin-top: 0;
    }
}

.images {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.sectionTech {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;

    .title {
        @extend .title !optional;
        
        span {
            width: calc((100% - 462px) / 2);
        }
    }

    .description {
        @extend .description !optional;
    }

    .images {
        @extend .images !optional;
    }
}

.sectionSolu {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;

    .title {
        @extend .title !optional;

        span {
            width: calc((100% - 400px) / 2);
        }
    }

    .description {
        @extend .description !optional;
    }

    .images {
        @extend .images !optional;
    }
}

.sectionAbout {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;

    .title {
        @extend .title !optional;

        span {
            width: calc((100% - 173px) / 2);
        }
    }

    .description {
        @extend .description !optional;
    }

    .images {
        @extend .images !optional;
    }
}

.sectionFoot {
    width: 100%;
    background-color: #0300bb;
    color: #747474;
    padding-top: 30px;
    padding-bottom: 10px;

    .contact {
        width: 760px;
        margin-left: auto;
        margin-right: auto;

        .contact_us {
            width: 270px;
            display: inline-block;
            vertical-align: top;

            p {
                display: block;
                text-align: center;
            }
        }

        .contact_cn {
            width: 440px;
            display: inline-block;
            vertical-align: top;

            p {
                display: block;
                text-align: center;
            }
        }

        .contact_media {
            width: 50px;
            display: inline-block;
            vertical-align: top;
            margin-top: 10px;

            img {
                height: 25px;
                width: 25px;
                margin-top: 8px;
                margin-bottom: 8px;
                margin-right: auto;
                margin-left: auto;
                display: block;
            }
        }
    }

    .declare {
        width: 760px;
        margin-left: auto;
        margin-right: auto;

        p {
            font-size: 8px;
            margin-left: 50px;
        }
    }
}