.headPageFrame {
    min-width: 760px;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

.sectionFly {
    width: 100%;

    .sectionFlyBody {
        width: 100%;
        
        // .sectionFlyBodyText {
        //     display: inline-block;
        //     vertical-align: bottom;
        //     margin-left: 70px;
        //     width: calc(60% - 70px);

        //     h3 {
        //         font-size: 22px;
        //         display: block;
        //         width: 70%;
        //         margin-left: auto;
        //         margin-right: auto;
        //         margin-bottom: 30px;
        //         text-align: center;
        //         line-height: 40px;
        //     }

        //     p {
        //         font-size: 14px;
        //         display: block;
        //         width: 80%;
        //         margin-left: auto;
        //         margin-right: auto;
        //         margin-bottom: 100px;
        //         text-align: center;
        //         line-height: 30px;
        //     }
        // }

        // img.profile {
        //     display: inline-block;
        //     vertical-align: bottom;
        //     width: 40%;
        // }
    }
}

.title {
    width: calc(70% - 10px);
    margin-right: auto;
    margin-left: auto;

    span {
        display: inline-block;
        vertical-align: middle;
        border-top: 1px solid #747474;
    }

    h3 {
        display: inline-block;
        vertical-align: middle;
        margin-right: 50px;
        margin-left: 50px;
        margin-bottom: 20px;
    }
}

.description {
    width: calc(70% - 10px);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 25px;

    p {
        margin-top: 0;
    }
}

.images {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}