.imageDetailItem {
    // width: 90%;
    margin-left: auto;
    margin-right: auto;
    // margin-left: 70px;
    width: calc(85% - 70px);
    margin-bottom: 20px;
}

.imageDetailImage {
    width: 40%;
    display: inline-block;
    vertical-align: top;

    img {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }
}

.imageDetailInfo {
    width: 55%;
    display: inline-block;
    vertical-align: top;

    a {
        text-decoration: none;
        text-decoration-color: none;

        &:hover {
            text-decoration: underline;
        }
    }

    .imageDetailInfoTitle {
        height: 30px;
    }

    .imageDetailInfoDescription {
        width: 100%;
        word-wrap: break-word;
        word-break: normal;
        white-space: pre-line;
    }
}