@import './App.scss';

.imageItemFrame {
    margin-bottom: 20px;
    display: table-cell;
    vertical-align: top;
    position: relative;
}

.imageItem {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    display: block;

    img {
        width: 100%;
    }
}

.imageItemFrame:hover .imageInfo{
    bottom: 0;
    opacity: 1;
    z-index: 1;
    transition-duration: 0.5s;
}

.imageInfo {
    width: calc(90% - 20px);
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    left: 0;
    right: 0;
    position: absolute;
    background-color: $blue-color;
    color: white;
    bottom: -100px;
    z-index: -1;
    opacity: 0;

    .imageInfoTitle {
        font-weight: bold;
        text-align: center;
    }

    .imageInfoTescription {

    }
}