.ImageItemFrame {
    margin-bottom: 20px;
    display: table-cell;
    vertical-align: top;
}

.ImageItem {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    display: inline-block;

    img {
        width: 100%;
    }

    p.title {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: block;
        text-align: center;
        color: greenyellow;
        margin-top: -40%;
    }
}