.ImageItemMobileFrame {
    margin-bottom: 20px;
    overflow: hidden;
}

.ImageItemMobile {
    width: 80%;
    margin-left: auto;
    margin-right: auto;

    img {
        width: 100%;
        max-height: 100%;
    }
}

.ImageItemMobileDetail {
    width: 80%;
    margin-left: auto;
    margin-right: auto;

    
}