@import './App.scss';

.officialPageFrame {
    
}

.officialPage {
    width: 100vw;
    // min-width: 760px;
    // max-width: 1px;
    // margin-left: auto;
    // margin-right: auto;

    .sectionFlyFrame {
        width: 100%;

        .sectionFly {
            min-width: 760px;
            max-width: 2048px;
            margin-left: auto;
            margin-right: auto;
        
            .sectionFlyBody {
                width: 100%;
                max-height: 600px;
                
                .sectionFlyBodyTextFrame {
                    display: inline-block;
                    vertical-align: bottom;
                    margin-left: 70px;
                    width: calc(60% - 70px);

                    .sectionFlyBodyDivider {
                        
                    }

                    .sectionFlyBodyText {
                        bottom: 0;

                        h3 {
                            font-size: 22px;
                            display: block;
                            width: 70%;
                            margin-left: auto;
                            margin-right: auto;
                            margin-bottom: 30px;
                            text-align: center;
                            line-height: 40px;
                        }
            
                        p {
                            font-size: 14px;
                            display: block;
                            width: 80%;
                            margin-left: auto;
                            margin-right: auto;
                            margin-bottom: 100px;
                            text-align: center;
                            line-height: 30px;
                        }
                    }
                }
        
                .sectionFlyBodyImageFrame {
                    display: inline-block;
                    vertical-align: bottom;
                    width: 40%;
                    height: 100%;

                    img.profile {
                        display: block;
                        margin-left: auto;
                        margin-right: auto;
                        max-height: 600px;
                        max-width: 100%;
                    }
                }

                // @media only screen and (max-width: 1500px) {
                //     .sectionFlyBodyTextFrame {
                //         vertical-align: bottom;
                //     }

                //     img.profile {
                //         vertical-align: bottom;
                //     }
                // }

                // @media only screen and (min-width: 1501px) {
                //     .sectionFlyBodyTextFrame {
                //         vertical-align: top;

                //         .sectionFlyBodyDivider {
                //             height: 400px;
                //         }
                //     }

                //     img.profile {
                //         vertical-align: top;
                //     }
                // }
            }
        }
    }

    .sectionBrowserChildrenFrame {
        min-width: 760px;
        max-width: 2048px;
        margin-left: auto;
        margin-right: auto;
    }

    .sectionFootFrame {
        width: 100%;

        .sectionFootFrameInside {
            min-width: 760px;
            max-width: 2048px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.officialPageMobile {
    width: 100vw;

    .sectionFlyMobile {
        width: 100%;
    
        .sectionFlyMobileBodySmall {
            width: 100%;
            padding-top: 30px;
            
            .sectionFlyMobileBodyText {
                display: block;
                // vertical-align: bottom;
                margin-left: auto;
                margin-right: auto;
                width: 80%;
    
                h3 {
                    font-size: 22px;
                    display: block;
                    width:100%;
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: 30px;
                    text-align: center;
                    line-height: 40px;
                }
    
                p {
                    font-size: 14px;
                    display: block;
                    width: 80%;
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: 100px;
                    text-align: center;
                    line-height: 30px;
                }
            }
    
            // img.profile {
            //     display: inline-block;
            //     vertical-align: bottom;
            //     width: 40%;
            // }
        }

        .sectionFlyMobileBodyLarge {
            width: 100%;
        
            .sectionFlyMobileBodyText {
                display: inline-block;
                vertical-align: bottom;
                margin-left: 70px;
                width: calc(60% - 70px);

                h3 {
                    font-size: 22px;
                    display: block;
                    width: 70%;
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: 30px;
                    text-align: center;
                    line-height: 40px;
                }

                p {
                    font-size: 14px;
                    display: block;
                    width: 80%;
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: 100px;
                    text-align: center;
                    line-height: 30px;
                }
            }

            img.profile {
                display: inline-block;
                vertical-align: bottom;
                width: 40%;
            }
        }
    }
}

@media only screen and (max-width: 760px) {
    .sectionFlyMobileBodyLarge {
        display: none;
    }

    .sectionFlyMobileBodySmall {
        display: block;
    }
}

@media only screen and (min-width: 761px) {
    .sectionFlyMobileBodyLarge {
        display: block;
    }

    .sectionFlyMobileBodySmall {
        display: none;
    }
}