@import './App.scss';

.officialPageFrame {
    min-width: 760px;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

.sectionFly {
    width: 100%;

    .sectionFlyBody {
        width: 100%;
        
        .sectionFlyBodyText {
            display: inline-block;
            vertical-align: bottom;
            margin-left: 70px;
            width: calc(60% - 70px);

            h3 {
                font-size: 22px;
                display: block;
                width: 70%;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 30px;
                text-align: center;
                line-height: 40px;
            }

            p {
                font-size: 14px;
                display: block;
                width: 80%;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 100px;
                text-align: center;
                line-height: 30px;
            }
        }

        img.profile {
            display: inline-block;
            vertical-align: bottom;
            width: 40%;
        }
    }
}

.officialPageMobile {
    width: 100vw;

    .sectionFlyMobile {
        width: 100%;
    
        .sectionFlyMobileBodySmall {
            width: 100%;
            
            .sectionFlyMobileBodyText {
                display: block;
                // vertical-align: bottom;
                margin-left: auto;
                margin-right: auto;
                width: 80%;
    
                h3 {
                    font-size: 22px;
                    display: block;
                    width: 70%;
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: 30px;
                    text-align: center;
                    line-height: 40px;
                }
    
                p {
                    font-size: 14px;
                    display: block;
                    width: 80%;
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: 100px;
                    text-align: center;
                    line-height: 30px;
                }
            }
    
            // img.profile {
            //     display: inline-block;
            //     vertical-align: bottom;
            //     width: 40%;
            // }
        }

        .sectionFlyMobileBodyLarge {
            width: 100%;
        
            .sectionFlyMobileBodyText {
                display: inline-block;
                vertical-align: bottom;
                margin-left: 70px;
                width: calc(60% - 70px);

                h3 {
                    font-size: 22px;
                    display: block;
                    width: 70%;
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: 30px;
                    text-align: center;
                    line-height: 40px;
                }

                p {
                    font-size: 14px;
                    display: block;
                    width: 80%;
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: 100px;
                    text-align: center;
                    line-height: 30px;
                }
            }

            img.profile {
                display: inline-block;
                vertical-align: bottom;
                width: 40%;
            }
        }
    }
}

@media only screen and (max-width: 760px) {
    .sectionFlyMobileBodyLarge {
        display: none;
    }

    .sectionFlyMobileBodySmall {
        display: block;
    }
}

@media only screen and (min-width: 761px) {
    .sectionFlyMobileBodyLarge {
        display: block;
    }

    .sectionFlyMobileBodySmall {
        display: none;
    }
}