@import './App.scss';
@import './OfficialPageFrame.scss';

.officialRevPageFrame {
    
}

.officialRevPage {
    width: 100vw;

    .sectionFlyRevFrame {
        min-width: 760px;
        max-width: 2048px;
        margin-left: auto;
        margin-right: auto;

        .sectionFlyRev {
            width: 100%;
            // background-color: $blue-color;
            color: white;
    
            .sectionFlyRevBody {
                width: 100%;
                height: 300px;
                // padding-top: 100px;
                // padding-bottom: 20px;
    
                .sectionFlyRevBodyText {
                    display: inline-block;
                    vertical-align: bottom;
                    margin-left: 70px;
                    width: calc(60% - 70px);
    
                    h3 {
                        font-size: 30px;
                        display: block;
                        width: 70%;
                        // margin-left: auto;
                        // margin-right: auto;
                        margin-bottom: 30px;
                        line-height: 40px;
                        text-align: left;
                    }
    
                    p {
                        font-size: 20px;
                        display: block;
                        width: 80%;
                        // margin-left: auto;
                        // margin-right: auto;
                        margin-bottom: 100px;
                        text-align: left;
                        line-height: 30px;
                    }
                }
            }
        }
    }

    .sectionBrowserChildrenRevFrame {
        min-width: 760px;
        max-width: 2048px;
        margin-left: auto;
        margin-right: auto;
    }

    .sectionFootRevFrame {
        width: 100%;
        // background-color: $blue-color;

        .sectionFootRevFrameInside {
            min-width: 760px;
            max-width: 2048px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    
}

.officialRevPageMobile {
    width: 100vw;

    .sectionFlyRevMobile {
        width: 100%;
        background-color: $blue-color;
        color: white;

        .sectionFlyRevMobileBodySmall {
            width: 100%;

            .sectionFlyRevMobileBodyText {
                display: block;
                // vertical-align: bottom;
                margin-left: auto;
                margin-right: auto;
                width: 80%;
    
                h3 {
                    font-size: 22px;
                    display: block;
                    width: 70%;
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: 30px;
                    text-align: center;
                    line-height: 40px;
                }
    
                p {
                    font-size: 14px;
                    display: block;
                    width: 80%;
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: 100px;
                    text-align: center;
                    line-height: 30px;
                }
            }
        }

        .sectionFlyRevMobileBodyLarge {
            width: 100%;

            .sectionFlyRevMobileBodyText {
                display: inline-block;
                vertical-align: bottom;
                margin-left: 70px;
                width: calc(60% - 70px);

                h3 {
                    font-size: 22px;
                    display: block;
                    width: 70%;
                    // margin-left: auto;
                    // margin-right: auto;
                    margin-bottom: 30px;
                    text-align: left;
                    line-height: 40px;
                }

                p {
                    font-size: 14px;
                    display: block;
                    width: 80%;
                    // margin-left: auto;
                    // margin-right: auto;
                    margin-bottom: 100px;
                    text-align: left;
                    line-height: 30px;
                }
            }
        }
    }
}

.banner-user {
    height: 300px;
}

.banner-user-elem {
    text-align: center;
    position: relative;
    overflow: hidden;
}

.banner-user-elem .banner-user-title {
    font-size: 32px;
    top: 40%;
}

.banner-user-elem .banner-user-text {
    top: 45%;
}

.banner-anim-elem .bg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

@media only screen and (max-width: 760px) {
    .sectionFlyRevMobileBodyLarge {
        display: none;
    }

    .sectionFlyRevMobileBodySmall {
        display: block;
    }
}

@media only screen and (min-width: 761px) {
    .sectionFlyRevMobileBodyLarge {
        display: block;
    }

    .sectionFlyRevMobileBodySmall {
        display: none;
    }
}