.officialPageFrame {
    min-width: 760px;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

.sectionFly {
    width: 100%;

    .sectionFlyBody {
        width: 100%;
        
        .sectionFlyBodyText {
            display: inline-block;
            vertical-align: bottom;
            margin-left: 70px;
            width: calc(60% - 70px);

            h3 {
                font-size: 22px;
                display: block;
                width: 70%;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 30px;
                text-align: center;
                line-height: 40px;
            }

            p {
                font-size: 14px;
                display: block;
                width: 80%;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 100px;
                text-align: center;
                line-height: 30px;
            }
        }

        img.profile {
            display: inline-block;
            vertical-align: bottom;
            width: 40%;
        }
    }
}

.sectionFoot {
    width: 100%;
    background-color: #0300bb;
    color: #747474;
    padding-top: 30px;
    padding-bottom: 10px;

    .contact {
        width: 760px;
        margin-left: auto;
        margin-right: auto;

        .contact_us {
            width: 270px;
            display: inline-block;
            vertical-align: top;

            p {
                display: block;
                text-align: center;
            }
        }

        .contact_cn {
            width: 440px;
            display: inline-block;
            vertical-align: top;

            p {
                display: block;
                text-align: center;
            }
        }

        .contact_media {
            width: 50px;
            display: inline-block;
            vertical-align: top;
            margin-top: 10px;

            img {
                height: 25px;
                width: 25px;
                margin-top: 8px;
                margin-bottom: 8px;
                margin-right: auto;
                margin-left: auto;
                display: block;
            }
        }
    }

    .declare {
        width: 760px;
        margin-left: auto;
        margin-right: auto;

        p {
            font-size: 8px;
            margin-left: 50px;
        }
    }
}

.officialPageMobile {
    width: 100vw;

    .sectionFlyMobile {
        width: 100%;
    
        .sectionFlyMobileBody {
            width: 100%;
            
            .sectionFlyMobileBodyText {
                display: block;
                // vertical-align: bottom;
                margin-left: auto;
                margin-right: auto;
                width: 80%;
    
                h3 {
                    font-size: 22px;
                    display: block;
                    width: 70%;
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: 30px;
                    text-align: center;
                    line-height: 40px;
                }
    
                p {
                    font-size: 14px;
                    display: block;
                    width: 80%;
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: 100px;
                    text-align: center;
                    line-height: 30px;
                }
            }
    
            // img.profile {
            //     display: inline-block;
            //     vertical-align: bottom;
            //     width: 40%;
            // }
        }
    }
    
    .sectionFootMobile {
        width: 100%;
        background-color: #0300bb;
        color: #747474;
        padding-top: 30px;
        padding-bottom: 10px;
    
        .contact {
            width: 760px;
            margin-left: auto;
            margin-right: auto;
    
            .contact_us {
                width: 270px;
                display: inline-block;
                vertical-align: top;
    
                p {
                    display: block;
                    text-align: center;
                }
            }
    
            .contact_cn {
                width: 440px;
                display: inline-block;
                vertical-align: top;
    
                p {
                    display: block;
                    text-align: center;
                }
            }
    
            .contact_media {
                width: 50px;
                display: inline-block;
                vertical-align: top;
                margin-top: 10px;
    
                img {
                    height: 25px;
                    width: 25px;
                    margin-top: 8px;
                    margin-bottom: 8px;
                    margin-right: auto;
                    margin-left: auto;
                    display: block;
                }
            }
        }
    
        .declare {
            width: 760px;
            margin-left: auto;
            margin-right: auto;
    
            p {
                font-size: 8px;
                margin-left: 50px;
            }
        }
    }
}

@media only screen and (max-width: 760px) {
    .sectionTopbarMobileWide {
        display: none;
    }

    .sectionTopbarMobileNarrow {
        display: block;
    }
}

@media only screen and (min-width: 761px) {
    .sectionTopbarMobileWide {
        display: block;
    }

    .sectionTopbarMobileNarrow {
        display: none;
    }
}