.sectionTopbar {
    width: 100%;
    height: 60px;
    padding-top: 50px;

    img.logo {
        height: 50px;
        margin-left: 60px;
    }

    div.selection {
        width: 500px;
        height: 30px;
        margin-top: 15px;
        float: right;
    }
}