.privacyDetailSection {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;

    .privacyDetailText {
        width: calc(70% - 70px);
        margin-left: auto;
        margin-right: auto;
    }
}