$blue-color: rgba(30, 67, 118, 0.83);
$font-color: white;

.highLevelBtnsFrame {
    width: 100%;
    height: 30px;
    position: relative;
    text-align: center;

    .highLevelBtnFrame {
        height: 100%;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;

        &:hover {
            cursor: pointer;
        }

        a {
            display: block;
            text-align: center;
            line-height: 30px;
            text-decoration: none;
            color: $font-color;

            &:hover {
                text-decoration: none;
            }

            &:visited {
                text-decoration: none;
            }
        }
    }

    .highLevelSubBtnsFrame {
        position: absolute;
        left: 100%;
        top: 0;
        right: -100%;
        border-left: 1px solid white;
        padding-bottom: 5px;
    }
}