@import '../HeadPage.scss';

.sectionAbout {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;

    .description {
        @extend .description !optional;
    }

    .images {
        // @extend .images !optional;
        // display: table;
        width: 60%;
        margin-left: auto;
        margin-right: auto;

        img {
            max-width: 100%;
        }
    }
}