@import '../HeadPage.scss';

.sectionRetail {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;

    .title {
        @extend .title !optional;
        
        span {
            width: calc((100% - 200px) / 2);
        }
    }

    .description {
        @extend .description !optional;
    }

    .images {
        @extend .images !optional;
        display: table;
    }
}