.selectionBtn {
    width: 96px;
    height: 30px;
    display: inline-block;
    vertical-align: top;
    font-size: 15px;
    position: relative;

    a {
        text-decoration: none;
        // text-align: center;
        line-height: 30px;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

    a:hover {
        text-decoration: none;
    }

    a:visited {
        text-decoration: none;  
    }

    .titleFrame {
        text-align: center;

        .root {
            display: inline-block;
        }
    }

    .hiddenFrame {
        position: 'absolute';
        text-align: center;

        a.subTitle {
            display: inline-block;

            &:hover {
                border-bottom: 1px solid rgba(30, 67, 118, 0.81);
            }
        }

        a.subTitleRev {
            display: inline-block;

            &:hover {
                border-bottom: 1px solid white;
            }
        }
    }
}